# Ignore .github directory
/.github

# Node.js dependencies
/node_modules

# Build outputs
/dist
/build

# Environment variables
.env
.env.*

# IDE files
/.idea
# /.vscode
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS specific files
.DS_Store
Thumbs.db

# Project specific
# /my-nestjs-project/node_modules
# /my-nestjs-project/dist
# /my-nestjs-project/.env
# /my-nestjs-project/.env.*
# /my-nestjs-project/logs
# /my-nestjs-project/*.log